.selection-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: blue;
    color: #fff;
    height: 1em;
    /* margin: 20px; */
  }
  
  /* .selection-bar .today {
  
  } */
  
  .App .title {
      font-size: 50px;
      font-weight: 500;
      text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
      margin: 30px 30px;
  }

  .App .bottom {      
    height: 100%;
    background-size: cover;
    background-position: top;
    /* background-color:rgba(50, 50, 70, 0.5) */
  }

  .selection-bar .today:focus {
    text-decoration: underline;
  }
  
  .selection-bar .underline {
    text-decoration: underline;
  }
  
  .selection-bar .button {
    background-color: blue;
    color: #fff;
    border-style: none;
  }

  .weekly {
    position: relative;
    /* display: inline-block; */
    margin: 30px 30px auto;
    background-color: rgba(126, 120, 120, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    /* color: #fff; */
    /* font-size: 102px; */
    /* font-weight: 900; */
    /* text-shadow: 3px 6px rgba(50, 50, 70, 0.5); */
    /* text-align: center; */
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weeklyForecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 20px 0px 20px;
}

.dailyForecast {
    border: 1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
}

.dailyForecast .day {
    font-size: 24px;
    font-weight: 500;
}

.dailyForecast .high {
    font-size: 16px;
    font-weight: 300px;
}

.search-box {
    width: 100%;
    margin: 0 0 75px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px, 0px, 16px, 16px;
    /* margin-top: -25px; */
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255,255,255,0.75);
}

.location-box .location {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.dayDiv {
    height: 100%;
    background-size: cover;
    background-position: top;
}

.dayDiv.sun {
    background-image: url("./assets/sun.jpg");
}

.dayDiv.rain {
    background-image: url("./assets/rain.jpg");
}

.dayDiv.cloudy {
    background-image: url("./assets/cloudy.jpg");
}

